# Virtual environment
venv/
ENV/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django database & media
db.sqlite3
db.sqlite3-journal
media/

# Collected static files
staticfiles/

# System and IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*.exe


# Build directories
dist/

